@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Робота з додатком можлива тільки для авторизованих користувачів</h2>
    <p class="lead"></p>
    <p><a href="/Order/Index"class="btn btn-primary btn-lg">Розпочати роботу &raquo;</a>
</div>
